
  <!-- <div class="container-fluid">  -->
<div class="hero">
 <div class="arrow-down"></div>
  <nav class="navbar transparent navbar-expand-lg pt-4">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="  collapse navbar-collapse" id="navbarNav">



      <ul class="navbar-nav ml-auto ">
        <li class="nav-item">
          <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link pr-3" href="#">EVENTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pr-3" href="#">PHOTOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pr-3" href="#">VIDEOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link donate_nav" href="#">DONATE</a>
        </li>

      </ul>

    </div>
  </nav>

  <div class="row inner">
    <div class="col text-center">

        <div class="inner_padding">

          <div class="d-flex justify-content-center dj_title">
            <div class=" title border-right pr-3">
              <span class="title">  <sapn class="text-deco">d</span>J</span><h4>TAKE <sapn class="text-deco">AWAY</span></h4>
            </div>
            <div class="align-self-center pl-3 text-deco_secondary"> <h4>SINGER</h4> <h4>COMPOSER</h4> <h4>DJ</h4> </div>
          </div>
          <div class="album_info p-4 mt-2">
              <h5>release of <sapn class="text-deco">new album</sapn></h5>
              19 MAY LONDON FLEX CLUB
          </div>
        </div>


    </div>
    <div class="col">
      <%= image_tag('dre.png',class:"img-fluid") %>
    </div>
  </div>
</div>
  <!-- </div> -->
