


<div class="event_details text-dark">

  <span class="">Nulla commodo vel lorem non dignissim</span> <br>

  Venue: PRIMIA CLUB <br>

  Time : 10:00pm-6:00am <br>

  Address: LE2PHD, Leicster <br>

  Special Guest : Foliwe Fossung  <br> <br>
<div class="d-flex justify-content-between">
  <div class=""><%= link_to 'GET TICKET NOW','',class:"btn btn-danger" %></div>
  <div class=""><a href="">All Events</a></div>
</div>

</div>
