<div class="col-7">
  <h5 class="text-center p-4"> COMING UP EVENTS</h5>
    <div class="d-flex flex">
      <div class="">
        <%= image_tag('200.png') %>
      </div>
      <div class=" align-self-center pl-4">
        <span class="small_h1">Nulla commodo vel lorem non dignissim</span> <br>

        Venue: PRIMIA CLUB <br>

        Time : 10:00pm-6:00am <br>

        Address: LE2PHD, Leicster <br>

       Special Guest : Foliwe Fossung  <br> <br>

        <p><%= link_to 'GET TICKET NOW','',class:"btn btn-danger" %>
      </div></p>

    </div>
    <div class="text-center "><a href="">All Events</a></div>
</div>
