<div class="hero">

  <div class="arrow-down"></div>


  <%=image_tag('dj_hero.png',class:"img-fluid")%>
</div>
<div class="section">

</div>


<script>
$(".arrow-down").click(function() {
 $('html, body').animate({
     scrollTop: $(".section").offset().top
 }, 2000);
});

</script>
