



  <%#=image_tag('dj_hero.png',class:"img-fluid")%>
<div class="container-fluid">
  <div class="row py-4 add">
    <div class="col-sm">
      <h5 class="text-center py-2">Latest Photo</h5>

      <div class="grid">
        <div class="grid-sizer"></div>
        <div class="grid-item">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/orange-tree.jpg" />
        </div>
        <div class="grid-item">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/one-world-trade.jpg" />
        </div>
        <div class="grid-item">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/look-out.jpg" />
        </div>
        <div class="grid-item">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/one-world-trade.jpg" />
        </div>
        <div class="grid-item">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/drizzle.jpg" />
        </div>
        <div class="grid-item">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/cat-nose.jpg" />
        </div>
        <div class="grid-item">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/contrail.jpg" />
        </div>
        <div class="grid-item">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/golden-hour.jpg" />
        </div>
        <div class="grid-item">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/flight-formation.jpg" />
        </div>
        <div class="grid-item">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/flight-formation.jpg" />
        </div>
      </div>

    </div>
    <div class="col-sm shadow-lg p-3 bg-white">
      <h5 class="text-center py-2">Up Comming Event</h5>
      <div class="d-flex flex-column">
        <div class="event_image">
          <h3 class="">EVENT NAME</h3>
        </div>
        <div class="">
          <%= render 'events_list', events: @events %>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <h5 class="text-center py-2">Artist of the month</h5>
      <%= image_tag('tiku.jpg',class:"img-fluid") %>
    </div>
  </div>

</div>

<div class="card ">
  <div class="container-fluid p-4">

    <span class="btn btn-danger donate float-right"> DONATE<i class="fab fa-cc-paypal fa-lg"></i></span>
    <div class="row">
      <div class="col-sm">

        <div class="py-3">

          <iframe width="100%" height="100" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/161042770&color=%234d5762&auto_play=true&hide_related=false&show_comments=false&show_user=false&show_reposts=false&show_teaser=false&visual=true"></iframe>
        </div>
        <div class="py-3">

          <iframe width="100%" height="100" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/328259811&color=%234d5762&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
        </div>
        <div class="py-3">

          <iframe width="100%" height="100" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/328259811&color=%234d5762&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
        </div>
      </div>
      <div class="col-sm">
        <h5 class="text-center p-4">DATES</h5>

        <div class="d-flex align-items-center p-3 border-bottom border-secondary">
          <div class=" p-2 border-right border-secondary"><h1>21</h1></div>
          <div class="pl-3">
            <h5>June</h5> Some Text <br> some text <br>some txt
          </div>
        </div>
        <div class="d-flex align-items-center p-3 border-bottom border-secondary">
          <div class=" p-2 border-right border-secondary"><h1>28</h1></div>
          <div class="pl-3">
            <h5>June</h5>  Some Text <br> some text <br>some txt
          </div>
        </div>

      </div>
      <div class="col-sm">
        <h5 class="text-center p-4">ABOUT DJ TAKE AWAY</h5>

        <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>

  </div>

</div>




<script>

$(".arrow-down").click(function() {
 $('html, body').animate({
     scrollTop: $(".add").offset().top
 }, 2000);
});


</script>

<script>
var $grid = $('.grid').masonry({
  itemSelector: '.grid-item',
  percentPosition: true,
  columnWidth: '.grid-sizer'
});
// layout Masonry after each image loads
$grid.imagesLoaded().progress( function() {
  $grid.masonry();
});


</script>
