<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey!</h1>
    <p>
      Thank you for purchasing the ticket, your ticket is attached as PDF in this mail.
    </p>
  </body>
</html>
