@import 'bootstrap';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800');
@import 'home';
@import url('https://fonts.googleapis.com/css?family=Uncial+Antiqua');



$bg_color_gradient: radial-gradient(circle, #060675, #081c88, #092e9b, #0a3fad, #0a51c0);
$font_color: #d35400;//#00B1E2;
$font: Uncial Antiqua, cursive;


body{

  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  margin: 0px;
  color: #fff;
    h1,h2,h3,h4,h5{
      text-transform: uppercase;
      font-family:$font;
      color:$font_color;
      text-shadow: 2px 2px 4px #000;

    }
}
.btn-danger{
  background-color: #c0392b;
}

.donate{
  border-radius: 0px;
  position: absolute;
  border-top: 0px;

  top: 0;
  right: 0%;
}
h1{
  color: #FFFF00;
}
.small_h1{
  font-size: 16px;
  font-weight: bold;
}
.disc{
  width: 50px;
  height: 50px;
  -webkit-animation: 1s r1 linea infinite;
  animation:1s r1 linear infinite;
}
.hero {
  background-image: url(asset_path('club.jpg'));
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
   img {
    width:100%;
    height: 100%;
    margin-top: 10px;

  }
  .text-deco{
    color:$font_color;
  }
  .text-deco_secondary{
    color:#00B7FF;
  }
}

.transparent {
background: rgba(0,0,0,0.1)
}
.inner{
  background: rgba(0,0,0,0)
}
.arrow-down{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
}
.nav-item{
  padding-right: 10px;
  a{
    color: #fff;
    // background-color: rgba(0, 162, 255, 0.5490196078431373);
    // border-radius: 10px;
    font-size: 13px;

  }
  a.donate_nav{
    color: #fff;
    background-color: rgba(255, 0, 0, 0.73);
    font-weight: bold;
    border-radius: 10px;
    font-size: 13px;

  }
}
.arrow-down::after{
  content:"";
  width: 20px;
  height: 20px;
  position: absolute;
  margin:auto;
  top: 0;
  color :red;
  right:0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-animation: 2s arrow infinite ease;
  animation: 2s arrow infiite ease;
}

  @-webkit-keyframes arrow{
    0%, 100%{
      top: 50px;
    }
    50%{
      top: 80px;
    }
  }
  @keyframes arrow{
    0%, 100%{
      top: 50px;
    }
    50%{
      top: 80px;
    }
  }
  @keyframes r1{
    0%{
      transform:rotate(360deg);
    }

    100%{
      transform:rotate(0deg);
    }

  }

.title{
  font-size: 150px;
  text-transform: uppercase;
  font-weight: 800;
}

.album_info{
  background: rgba(8, 37, 179, 0.27);
  width: 70%;
  margin: 5px auto;

}
.event_image{
  background-image: url(asset_path('party.jpeg'));
  background-size: cover;
  background-position: center;
  height: 200px;
  h3{
    text-align: center;
    margin: 0 auto;
    padding-top: 80px;
  }
}
.event_details{

}
.inner_padding{
  margin-top: 15px;
}
.bgbg{
  background-image: $bg_color_gradient;
}
.card {
  background-image: $bg_color_gradient;
  border: 0.5px solid #CF718A;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px;
  .day{
    font-size: 40px;
    font-weight: bold;
    color: #FEFEDF;
  }
}
.card_bg, .add,.footer {
  background-image: linear-gradient(to top, #060675, #102092, #1538af, #164fcd, #1267eb);
// background-image: linear-gradient(to right bottom, #1238eb, #1e66f3, #518bf2, #85adeb, #bdcce0);
}







@media (min-width: 1280px) {
  .inner_padding{
    margin-top: 205px;
  }
}
@media (min-width: 768px) {
  .inner_padding{
    margin-top: 60px;
  }
}
